@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/Poppins-Light.ttf");
    font-weight: 300;
  }

  $font-stack: "Poppins", sans-serif;
  $root-font-size: 16px;